<%= render "/partials/header" %>
<%= link_to root_path do %>
<section class="archiveSection">
  <h3>The Big Lebowski-ism</h3>
  <h5 class="date">Aug 5, 2018</h5>
  <p>Lebowski ipsum lOGJAMMIN’. Mein nommen iss Karl. Is hard to verk in zese clozes. I don’t like you sucking around bothering our citizens, Lebowski. I spent most of my time occupying various, um, administration buildings, smoking thai-stick, breaking into the ROTC and bowling. And Hill 364. These young men gave their lives. And Donny too. Donny who… who loved bowling. Okay. Vee take ze money you haf on you und vee call it eefen.</p>
</section>
<% end %>
<%= link_to root_path do %>
<section class="archiveSection">
  <h3>You're out of your element, Donny.</h3>
    <h5 class="date">Aug 1, 2018</h5>
  <p>Does the Pope shit in the woods? What in God’s holy name are you blathering about? I see you rolled your way into the semis. Dios mio, man. Seamus and me, we’re gonna fuck you up. Wal, I lost m’chain of thought here. But—aw hell, I done innerduced him enough. A dick, man! And let me tell you something: I dig your work. Playing one side against the other —in bed with everybody— fabulous stuff, man.</p>
</section>
<% end %>
<%= link_to root_path do %>
<section class="archiveSection">
  <h3>Calmer than you are</h3>
    <h5 class="date">Jul 27, 2018</h5>
  <p>Ja, und maybe vee stamp on it und skvush it, Lebowski! Vee belief in nossing, Lebowski! Walter, come off it. You’re not even fucking Jewish. You’re fucking Polish Catholic. Ja, vee could really do it, Lebowski. Mr. Lebowski asked me to repeat that: Her life is in your hands. Hardly Dude, a new ‘vette? The kid’s still got, oh, 96 to 97 thousand, depending on the options. What do you mean “brought it bowling”? I didn’t rent it shoes. I’m not buying it a fucking beer. He’s not gonna take your fucking turn, Dude.</p>
</section>
<% end %>


</body>
</html>